<!-- Footer -->

<div class="footer">
    <div class="footer__slogan">
        <span>MYONEHALF</span>
    </div>
    <div class="footer__menu">
        <ul>
            <li class="footer__about"><a href="/policy"><span>關於myonehalf+</span></a></li>
            <li class="footer__service"><a href="https://www.pazzo.com.tw/notice"><span>退換貨服務+</span></a></li>
            <li class="footer__news"><a href="/news"><span>重要公告+</span></a></li>
            <li><a href="/notice/#HB20140715000001"><span>VIP募集+</span></a></li>
            <li><a href="/mag"><span>小雜誌+</span></a></li>
        </ul>
    </div>
    <div class="footer__contact">
        <p class="footer__phone">
            Calling
            (02)2995-9996 / FAX:(02)2995-9978
        </p>
        <p class="footer__email">service@myonehalf.com.tw</p>
        <p class="footer__BH">MON.-FRI. 09:00-12:00 / 13:00-18:00</p>
        <div class="footer__165"><a href="/news/2">
            <span class="translate_tw">165 反詐騙</span>
            <span class="translate_en">165 ANTI-FRAUD</span>
             </a>
        </div>
    </div>
    <div class="footer__followus">
        <ul>

                <li>
                    <a href="https://www.facebook.com/PAZZO.tw/" target="_blank" alt="Faecbook"></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/pazzo/" target="_blank" alt="Instagram"></a>
                </li>

                <li><a href="https://line.me/ti/p/%40pazzo" target="_blank" alt="Line"></a></li>
            <li><a href="https://www.youtube.com/user/pazzotw" target="_blank" alt="Youtube"></a></li>
        </ul>
    </div>
    <div class="footer__copyright">© MYONEHALF  All Rights Reserved.</div>
</div><a class="gotop scrolldown" href="javascript:;"></a>
    <!-- Popup Banner  -->
            <div id="index-popup-right" class="index-popup modal fade text-right" tabindex="-1" data-key="20">
            <div class="modal-dialog d-inline-block" role="document">
                <div class="modal-content bg-transparent border-0">
                    <div class="modal-header">
                        <a href="#" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <i class="icon-popup-close"></i>
                        </a>
                    </div>
                    
                    <div class="modal-body p-0 text-center">
                        <a href="https://www.pazzo.com.tw/campaign/20210202s3" target="'_blank'">
                            <img class="img-fluid" src="https://pic.pzcdn.tw/pazzo/IndexWidget/ff65e3fb-9ce6-48d7-ac77-d194fb3aeeb7.jpg">
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>



    <script type="text/javascript" src="https://static.pzcdn.tw/sff/pazzo/static/libs/js/vendors.js?V=20210204v1"></script>

    


    <script>
        window.StaticImgDomain = 'pics.pzcdn.tw';
        window.PictureContainer = 'pazzo';
    </script>

    
    <script>
        window.MarketCampaignID = '1400';
        window.PageCount = 14;
        window.OrderMode = 1;
    </script>
    <script type="text/javascript" src="https://static.pzcdn.tw/sff/pazzo/js/productListStatic.js?v=20210204v1"></script>


    


<div class="fixed-rightside">
    <div>
        <a class="gotop" href="#"></a>
    </div>
    <div>
        <!--    <a class="btn-fixed" target="_blank" href="https://www.pazzo.com.tw/notice">Q&A</a> -->
    </div>
        <div>
            <!--     <a class="btn-fixed" href="/zh-tw/policy">Privacy</a> -->
        </div>
</div>