{% load static %}
<div class="header">
     <a href="/"><img src="{% static 'image/logo.png'%}"><br></a>
         <!--
        <h1 class="header__logo">
            <a href="/">
                <img src="https://pics.pzcdn.tw/pazzo/System/fad953cc-0ee0-4103-a01a-1348c56babb3.png" alt="PAZZO">
                <span>my-one-half</span>
            </a>
        </h1>
        -->



<div class="secnav">
    <div class="secnav-right" islogin="false">
        <ul>
            <li class="global-search">
                <form>
                    <label for="global-search">搜尋</label>
                    <input id="global-search" type="text" placeholder="Search">
                    <!--   <a class=global-search__btn href=javascript:;><i class=icon-search>GO</i><i></i></a>-->
                </form>
            </li>

            <li class="secnav-right__signin"><a href="/member/login"> <span>登入</span></a></li>
            
            
            <li class="secnav-right__wish-list">
                <a href="/user/favorite"> <span>收藏清單</span></a>
                <p class="secnav-right__item-count"><span></span></p>
            </li>

            <li id="app-mini-cart" class="secnav-right__bag"><a href="/checkout"><span>購物車</span></a> <p class="secnav-right__item-count"><span>0</span></p> <div class="subnav subnav--cart subnav--cart-bag"><div class="subnav--cart__items"><div style="height: 0px;"><div class="nanoscroll"><div class="nanoscroll__content"><div id="miniCar-normal"><ul></ul></div></div></div></div></div> <div class="subnav--cart__ft"><a href="/checkout" class="subnav--cart__btn">CHECK OUT</a></div></div></li>
            <li class="secnav-right__more"><a href="javascript:;"><span>more</span></a></li>
        </ul>
    </div>
</div>
<div class="mobile-global-search">
    <form>
        <label for="global-search">搜尋</label>
        <input id="global-search" type="text" placeholder="Search">
        <!--<a class=global-search__btn href=javascript:;><i class=icon-search>GO</i></a>-->
    </form>
</div>


        
<div class="nav">
    <div class="nav_toggle"></div>
    <ul><!--
        <li class="ALLITEM"><a href="#">全部商品</a></li>-->

        <li class="RESTOCK">
            <a class="zh" href="/tag/hottest"><span class="translate_tw">Coat</span><span class="translate_en">外套</span></a>
        </li>

        <li class="PREORDER">
            <a class="zh" href="/tag/preorder"><span class="translate_tw">Top</span><span class="translate_en">上衣</span></a>
        </li>
        <!--另開分頁-->
        <!--
        <li class="rainie">
            <a href="https://event.pazzo.com.tw/MOREREAL" target="_blank"><span class="translate_tw">pants</span><span class="translate_en">下身</span></a>
        </li>
        -->
        <li class="goSALE">
            <a href="/onsale"><span class="translate_tw">Pants</span><span class="translate_en">下身</span></a>
        </li>
        <li class="goSALE">
            <a href="/onsale"><span class="translate_tw">Dress</span><span class="translate_en">洋裝/裙子</span></a>
        </li>

       <!-- <li class="birth10">
            <a href="https://event.pazzo.com.tw/birthday10th" target="_blank"><span class=translate_tw>10週年慶</span><span class=translate_en>10thBIRTHDAY</span></a>
        </li>-->
    </ul>
</div>

       <!-- <div class="brandBar"><a class="mq" href="http://www.meierq.com"></a></div>-->
    </div>
</div>